/* layout */
body {
    background: #FFFF00;
}
#contents {}
#section1 {padding: 3vw; box-sizing: border-box;}
#section2 {padding: 0 3vw 0 3vw; box-sizing: border-box; width: 90vw; overflow: hidden;}
#section3 {box-sizing: border-box;}
#section4 {padding: 1vw 3vw 1vw 3vw; box-sizing: border-box;}
#section5 {padding: 3vw 3vw 0 3vw; box-sizing: border-box;}
#section6 {padding: 3vw 3vw 0 3vw; box-sizing: border-box;}
#section7 {padding: 3vw 3vw 0 3vw; box-sizing: border-box;}
#section8 {padding: 4vw 3vw 3vw 3vw; box-sizing: border-box; background: #000000; color:#ffff00; }
    
/* #sectiont1 */
#section1 > div {
    font-size: 16vw;
    line-height: 15vw;
    font-family: "Poppins";
    overflow: hidden;
}
#section1 > div span {
    transform: translateY(300px);
    display: inline-block;
}
#section1 > div span strong {
    line-height: 1;
    font-size: 4.2vw;
    display: inline-block;
    font-weight: 100;
    padding-left: 2vw;
    font-family: "Made canvas";
}

#section1 > div:nth-child(1){
    font-weight: 100; 
    text-transform: uppercase;
}
#section1 > div:nth-child(2){
    font-family: 'Monoton', cursive;
}
#section1 > div:nth-child(3){
    font-weight: 800;
    letter-spacing: -1vw;
}
/* #section2 */
#section2 > div{}
#section2 > div:nth-child(1) > svg{
    width:40vw;
    margin-bottom: 30vh;
    transform: translateZ(-700px, 500px);
    opacity: 0;
}
#section2 > div:nth-child(2),#section2 > div:nth-child(3),#section2 > div:nth-child(4),#section2 > div:nth-child(5){
    width: 90vw;
    font-family: "Made canvas";
    font-size: 15vw;
    letter-spacing: -1vw;    
    transform: translateY(1000px);
    overflow: hidden;
    height: 18vw;
}
#section2 > div:nth-child(3),#section2 > div:nth-child(4){
    line-height: 1.2;
}
#section2 > div:nth-child(5){
    position: relative;
}
#section2 > div:nth-child(5) .banner{
    position: absolute;
    float: left;
    font-family: "poppins";
    font-size: 2vw;
    line-height: 1.3;
    width: 80vw;
    height: 2.8vw;
    top: 5.8vw;
    left:0px;
    letter-spacing: 0;
    background:#FFFF00;
    overflow: hidden;
}
#section2 > div:nth-child(5) .banner:hover{
    background:#000000;
    color:#ffff00;
}
#section2 > div:nth-child(5) .banner > span{
    animation: slide_r 8s linear infinite;
}
@keyframes slide_r { 
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);} 
}
#section2 > div:nth-child(5) .banner > span > img{
    width: 2vw;
    background: url(../img/banner_arrow.png);
}
/* #section3 */
#section3 .wrap{
    position: relative;
    width: 100%;
    text-align: center;
}
#section3 .wrap .bg_txt{
    width: 95vw;
    height: 55vw;
    font-family: 'Monoton', cursive;
    font-size: 15vw; 
    overflow: hidden;
    display: inline-block;
}
#section3 .wrap .bg_txt > div:nth-child(1){
    margin-bottom: 15vw;
    float: left;
}
#section3 .wrap .bg_txt > div:nth-child(1) > span{    
    animation: slide_r 30s linear infinite;
}
@keyframes slide_r { 
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);} 
}
#section3 .wrap .bg_txt > div:nth-child(2) > span{
    animation: slide_l 30s linear infinite reverse;
} 
@keyframes slide_l { 
    0% {transform: translateX(0%); }
    100% {transform: translateX(-100%);} 
}
#section3 .intro_img{
    position: absolute;
    display: block;
    width: 20vw;
    height: 20vw;
    top:30vw;
    left:40%;
    background: url(../img/section3_photo.jpg) no-repeat center;
    background-size: 100% 100%;
}
/* section4 */
#section4 .title{
    width: 85vw;
    font-family: "Made canvas";
    font-size: 16vw;
    overflow: hidden;    
}
#section4 .title div{}

#section4 .title div:nth-child(1),#section4 .title div:nth-child(2), #section4 .title div:nth-child(3){
    transform: translateY(500px);
    height: 16vw;
}

#section4 .title div:nth-child(2){
    position: relative;
}
#section4 .title div:nth-child(2) .banner{
    font-size: 2.5vw;
    position: absolute;
    display: block;
    float: left;
    width: 43vw;
    height: 2.7vw;
    background: #ffff00;
    top:6.3vw;
    left: 28%;
    overflow: hidden;
}
#section4 .title span{
    animation: slide_r 25s linear infinite;
}
#section4 .title span img{
    width: 2vw;
}
/*section4 content*/
#section4 .content{}
#section4 .content .web1{
    width: 90vw;
    display: block;
    overflow: hidden;
}
#section4 .content .web1 .wrap{
    padding: 5vw 0 0 15vw;
    width: 55vw;
    display: block;
}
#section4 .content .web1 .wrap .img{
    display: inline-block;
    background: url(../img/mockup_webstandard.png)no-repeat center;
    background-size: 100% 100%;
    width: 50vw;
    height: 33vw;
    padding-right: 0;
    z-index: 10;
}
#section4 .content .web1 .wrap div:nth-child(2){
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    padding-top: 1vw;
}
#section4 .content .web1 .wrap div:nth-child(2) > span{
    animation: slide_r 8s linear infinite;
}
#section4 .content .web1 .wrap_btn{
    width: 18vw;
    display: block;
    float: left;
    position: relative;
    margin: -15vw 0 0 65vw; 
}
#section4 .content .web1 .wrap_btn button{
    width:15vw;
    font-family: "Poppins";
    font-style: normal;
    font-size: 2.5vw;
    position: absolute;
    color:#ffff00;
    background:#000000;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    margin:1vw 1vw 1vw 1vw;
    box-sizing: border-box;
}

#section4 .content .web1 .wrap_btn button:nth-child(2){
    margin: 6vw 13vw 6vw 6vw; 
}
#section4 .content .web1 div:nth-child(4){
    display: inline-block;  
    font-family: 'Monoton', cursive;
    font-size: 8.5vw;
    left: 21vw;
    line-height: 20%;
    padding-top: 5vw;
}
#section4 .content .web1 div:nth-child(4) > span{
    opacity: 0;
}
#section4 .content .web1 .num{
    display: inline-block;    
    font-family: "Made canvas";
    font-size: 10vw;
    float: left;
    padding-right: 4vw;
    line-height: 1;
}
#section4 .content .web1 .category{
    font-family: "Poppins";
    transform: rotate(-90deg);
    font-size: 2.5vw;
    font-weight: 200;
}
#section4 .content .web1 .line1{
    margin-top:1vw;
    overflow:hidden;
    left:0;

}
#section4 .content .web1 .line1 span{
    width: 100%;
    height: 0.1vw;
    background:#000;
    display: block;
    transform: translateX(-1700px);
}
#section4 .content .web2 .wrap{
    padding: 5vw 0 0 15vw;
    width: 55vw;
    display: block;
}
#section4 .content .web2 .wrap .img{
    display: inline-block;
    background: url(../img/mockup_responsive.png)no-repeat center;
    background-size: 100% 100%;
    width: 50vw;
    height: 33vw;
    padding-right: 0;
}
#section4 .content .web2 .wrap div:nth-child(2){
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    padding-top: 1vw;
}
#section4 .content .web2 .wrap_btn{
    width: 20vw;
    display: block;
    float: left;
    position: relative;
    margin: -15vw 0 0 65vw; 
}
#section4 .content .web2 .wrap_btn button{
    width:15vw;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vw;
    position: absolute;
    background:#000000;
    color:#ffff00;
    border:none;
    text-align: center;
    margin:1vw 1vw 1vw 1vw;
}
#section4 .content .web2 .wrap_btn button:nth-child(2){
    margin: 6vw 13vw 6vw 6vw;  
}
#section4 .content .web2 div:nth-child(4){
    display: inline-block;  
    font-family: 'Monoton', cursive;
    font-size: 9vw;
    left: 20vw;
    line-height: 20%;
    padding-top: 5vw;
}
#section4 .content .web2 div:nth-child(4) > span{
    opacity: 0;
}
#section4 .content .web2 .num{
    display: inline-block;    
    font-family: "Made canvas";
    font-size: 9vw;
    float: left;
    padding-right: 3vw;
    margin-top:1vw;
    line-height: 1;

}

#section4 .content .web2 .category{
    font-family: "Poppins";
    vertical-align: 0%;
    writing-mode:tb-rl;
    font-size: 2.5vw;
    text-align: right;
    font-weight: 200;
}
#section4 .content .web2 .line2{
    margin-top:1vw;
    overflow:hidden;
    left:0;
}
#section4 .content .web2 .line2 span{
    width: 100%;
    height: 0.1vw;
    background:#000;
    display: block;
    transform: translateX(-1700px);
}
#section4 .content .web2 .line2{
    margin-top:1vw;
    overflow:hidden;
    left:0;
}
#section4 .content .web2 .line2 span{
    width: 100%;
    height: 0.1vw;
    background:#000;
    display: block;
    transform: translateX(-1700px);
}
/*web3*/
#section4 .content .web3 .wrap{
    padding: 5vw 0 0 15vw;
    width: 55vw;
    display: block;
}
#section4 .content .web3 .wrap .img{
    display: inline-block;
    background: url(../img/mockup_megabox.png)no-repeat center;
    background-size: 100% 100%;
    width: 50vw;
    height: 33vw;
    padding-right: 0;
}
#section4 .content .web3 .wrap div:nth-child(2){
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    padding-top: 1vw;
}
#section4 .content .web3 .wrap_btn{
    width: 20vw;
    display: block;
    float: left;
    margin: -19vw 0 0 65vw; 
}
#section4 .content .web3 .wrap_btn button{
    width:15vw;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vw;
    position: absolute;
    background:#000000;
    color:#ffff00;
    border:none;
    text-align: center;
    margin:1vw 1vw 1vw 1vw;
}
#section4 .content .web3 .wrap_btn button:nth-child(2){
    margin: 6vw 13vw 6vw 6vw; 
}
#section4 .content .web3 div{
    display: inline-block;  
    font-family: 'Monoton', cursive;
    font-size: 9vw;
    left: 20vw;
    line-height: 20%;
    padding-top: 5vw;
}
#section4 .content .web3 .num{
    display: inline-block;    
    font-family: "Made canvas";
    font-size: 9vw;
    float: left;
    padding-right: 3vw;
}
#section4 .content .web3 .category{
    font-family: "Poppins";
    vertical-align: 0%;
    writing-mode:tb-rl;
    font-size: 2.5vw;
    text-align: right;
    font-weight: 200;
}
#section4 .content .web3 .line3{
    margin-top:1vw;
    overflow:hidden;
    left:0;
}
#section4 .content .web3 .line3 span{
    width: 100%;
    height: 0.1vw;
    background:#000;
    display: block;
    transform: translateX(-1700px);
}
/*web4*/
#section4 .content .web4 .wrap{
    padding: 5vw 0 0 15vw;
    width: 55vw;
    display: block;
}
#section4 .content .web4 .wrap .img{
    display: inline-block;
    background: url(../img/mockup_webstandard.png)no-repeat center;
    background-size: 100% 100%;
    width: 50vw;
    height: 33vw;
    padding-right: 0;
}
#section4 .content .web4 .wrap div:nth-child(2){
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    padding-top: 1vw;
}
#section4 .content .web4 .wrap_btn{
    width: 20vw;
    display: block;
    float: left;
    margin: -19vw 0 0 65vw; 
}
#section4 .content .web4 .wrap_btn button{
    width:15vw;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vw;
    position: absolute;
    background:#000000;
    color:#ffff00;
    border:none;
    text-align: center;
    margin:1vw 1vw 1vw 1vw;
}
#section4 .content .web4 .wrap_btn button:nth-child(2){
    margin: 6vw 13vw 6vw 6vw; 
}
#section4 .content .web4 div{
    display: inline-block;  
    font-family: 'Monoton', cursive;
    font-size: 9vw;
    left: 20vw;
    line-height: 20%;
    padding-top: 5vw;
}
#section4 .content .web4 .num{
    display: inline-block;    
    font-family: "Made canvas";
    font-size: 9vw;
    float: left;
    padding-right: 3vw;
}
#section4 .content .web4 .category{
    font-family: "Poppins";
    vertical-align: 0%;
    writing-mode:tb-rl;
    font-size: 2.5vw;
    text-align: right;
    font-weight: 200;
}
#section4 .content .web4 .line4{
    margin-top:1vw;
    overflow:hidden;
    left:0;

}
#section4 .content .web4 .line4 span{
    width: 100%;
    height: 0.1vw;
    background:#000;
    display: block;
    transform: translateX(-1700px);
}
/*section5 animation*/
#section5 h1{
    font-family: "Poppins";
    font-size: 10vw;
    letter-spacing: -0.01em;
}
#section5 > h1 > span{
    position: absolute;
    font-family: "Poppins";
    font-size: 10vw;
    letter-spacing: -0.01em;
    left:18.5vw;
    -webkit-text-stroke: .05vw rgba(0,0,0,0.8);
    -webkit-text-fill-color: transparent;
}
#section5 div.wrap{
    font-family: "Poppins";
    font-size: 1.2vw;
}
#section5 .line_1,#section5 .line_2{
    position: relative;
    display: flex;
    width: 90vw;
    height: 18vw;
}
#section5 .line_1 div, #section5 .line_2 div{
    display: block;
    width: 33.3%;
    height: 100%;
    box-sizing: border-box;
    padding: 1vw 1vw 1vw 1vw;
}
#section5 .line_1 div:nth-child(1){
    border-top: .05vw solid #000000;
}
#section5 .line_1 div:nth-child(2){
    border-top: .05vw solid #000000;
    border-left: .05vw solid #000000 ;
}
#section5 .line_1 div:nth-child(3){
    border-top: .05vw solid #000000;
    border-left: .05vw solid #000000 ;
}
#section5 .line_2{
    box-sizing: border-box;
    border-bottom: .05vw solid #000000;
}
#section5 .line_2 div:nth-child(1){
    border-top: .05vw solid #000000;
}
#section5 .line_2 div:nth-child(2){
    border-top: .05vw solid #000000;
    border-left: .05vw solid #000000 ;
}
#section5 .line_2 div:nth-child(3){
    border-top: .05vw solid #000000;
    border-left: .05vw solid #000000 ;
}
/*section6 javascript*/
#section6 h1{
    font-family: "Made canvas";
    -webkit-text-stroke:  .05vw #000;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
    letter-spacing: -0.03em;
}
#section6 a{
    display: flex;
    flex-direction: column;
	position: relative;
	padding-left: 25vw;
    font-family: "Made canvas";
    font-size: 7vw;
    line-height: 12vw;
    letter-spacing: -0.07em;
    text-align: start;
}
#section6 a::before{
    counter-increment: menucounter;
    content: counters(menucounter, ".", decimal-leading-zero);
    position: absolute;
    top: -25%;
    left: 18%;
    transform: translateX(1rem);
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 8vw;
    font-family: "Notable";
    transition: transform 0.2s, opacity 0.08s;
    color: var(--color-text);
    opacity: 0;
    pointer-events: none;
}
#section6 a:hover::before{
    opacity: 0.2;
    transform: translateX(0);
}
.menu__item-innertext {
    color: var(--color-text);
}
.menu__item-sub {
    opacity: 1;
    transform: translateX(0);
}

.menu__item-sub .char{
        transform: translate(0) rotate(0);
        opacity: 1;
    }

.menu__item-text {
    position: relative;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 1vh 0;
    font-size: 4vw;
}
.menu__item-innertext {
	display: block;
	font-family: "Notable", serif;
	font-weight: 300;
	text-transform: uppercase;
	white-space: nowrap;
	color: transparent;
	-webkit-text-stroke: 2px var(--color-text);
	transition: color 0.05s;
	mix-blend-mode: screen;
	transform: translateY(200%);
}
.menu__item-sub {
	display: flex;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
    mix-blend-mode: difference;
}
.word:not(:first-child) {
    margin-left: 0.5ch;
}
@keyframes grain {
	0%,
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	10% {
		-webkit-transform: translate(-5%, -10%);
		transform: translate(-5%, -10%);
	}
	20% {
		-webkit-transform: translate(-15%, 5%);
		transform: translate(-15%, 5%);
	}
	30% {
		-webkit-transform: translate(7%, -25%);
		transform: translate(7%, -25%);
	}
	40% {
		-webkit-transform: translate(-5%, 25%);
		transform: translate(-5%, 25%);
	}
	50% {
		-webkit-transform: translate(-15%, 10%);
		transform: translate(-15%, 10%);
	}
	60% {
		-webkit-transform: translate(15%);
		transform: translate(15%);
	}
	70% {
		-webkit-transform: translateY(15%);
		transform: translateY(15%);
	}
	80% {
		-webkit-transform: translate(3%, 35%);
		transform: translate(3%, 35%);
	}
	90% {
		-webkit-transform: translate(-10%, 10%);
		transform: translate(-10%, 10%);
	}
}
#section6 h2:nth-child(2)::before, #section6 h2:nth-child(3)::before{
    border:.5vw solid #000000; 
}
/*section7 contanct*/
#section7 .moto{
    padding-bottom: 10vw;
    position: relative;
}
#section7 .moto div{
    font-family: "Made canvas";
    font-size: 15vw;
    line-height: 12vw;
}
#section7 .moto div:nth-child(2){
    position: relative;
}

#section7 .moto div > span{
    position: absolute;
    font-family: "Made canvas";
    font-size: 2.5vw;
    line-height: 1;
    width: 38vw;
    top:4.2vw;
    left:11.55vw;
    background: #ffff00;
}
#section7 .moto div > span img{
    width: 2vw;
}
#section7 .moto > span{
    position: absolute;
    font-family: "Made canvas";
    font-size: 2.5vw;
    background: #000000;
    color:#ffff00;
    width: 40vw;
    transform: rotate(-38deg);
    top:65vw;
    left:48vw;
}
/*section8 footer*/
#section8 .contact{
    background: #000000;
    color:#ffff00;
    width: 100%;
    height: 50vw;
    text-align: center;
    position: relative;
}
#section8 .contact div{
    font-family: "Poppins";
    font-size: 2.4vw;
    font-weight: 200;
    padding:4vw 0 3vw 0;
}
#section8 .contact input{
    width: 32vw;
    display: inline;
    margin: 0 30vw 1.5vw 30vw;
    background:#000000;
    color:#ffff00;
    border:.1vw solid #ffff00;
    font-size: 1vw;
    padding:.7vw;
}
#section8 .contact input.email{
    height: 3vw;
}
#section8 .contact input.message{
    height: 15vw;
}
#section8 .contact button{
    margin: 0 30vw 1.5vw 30vw;
    right:2vw;
    width: 5vw;
    height: 2.5vw;
    background: #000000;
    color:#ffff00;
    border:.1vw solid #ffff00;
    font-size: 1vw;
    border-radius: 50%;
}
#section8 .info{
    display: flex;
    width: 100%;
}
#section8 .info .wrap1{
    text-align: right;
    display:block;
}
#section8 .info .wrap1 > div:nth-child(1){
    font-family: "Poppins";
    font-size: 2.5vw;
    font-weight: 100;
}
#section8 .info .wrap1 > div:nth-child(2){
    font-family: "Made canvas";
    font-size: 1.2vw;
}
#section8 .info > div:nth-child(2){
    font-family: 'Monoton', cursive;
    font-size: 4.3vw;
}
#section8 .info .wrap2{}

#section8 .info .wrap2 > div:nth-child(1){
    padding-left: 0.2vw;
    font-family: "Made canvas";
    font-size: 1vw;
}
#section8 .info .wrap2 > div:nth-child(2){
    font-family: "Poppins";
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: -0.03em;
}
#section8 .info > span{
    width:25vw;
    height: 2.5vw;
    font-family: "Made canvas";
    font-size: 2.3vw;
    background:#ffff00;
    color:#000000;
    text-align: center;
    margin-left:27vw;
    padding:.5vw;
}
#section8 .wrap3{
    display: flex;
}
#section8 .wrap3 > div:nth-child(1),#section8 .wrap3 > div:nth-child(3){
    font-family: "Poppins";
    font-size: 3vw;
    font-weight: 200;
}
#section8 .wrap3 img{
    width: 30vw;
    padding:0 3vw 0 3vw;
}