@font-face { 
	font-family: 'Chosunilbo_myungjo'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff'); 
	font-weight: normal; font-style: normal; 
}
@font-face { 
    font-family: 'CanvasBlack'; 
    src: url('../fonts/CanvasBlack.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'CanvasLight'; 
    src: url('../fonts/CanvasLight.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'CanvasRegular'; 
    src: url('../fonts/CanvasRegular.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
    font-family: 'Nanum Myeongjo';
    src: url('https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css') format('css');
    font-weight: normal;
    font-style: normal;}

/* layout */
body {background: #FFFF00;}
#contents {}
#section1 {padding: 3vw; box-sizing: border-box;}
#section2 {padding: 0 3vw 0 3vw; box-sizing: border-box;}
#section3 {height: 50vh;}
#section4 {}
#section5 {}
#section6 {}



/* #sectiont1 */
#section1 > div {
    font-size: 16vw;
    line-height: 15vw;
    font-family: "Poppins";
    margin-bottom: 10px;
    overflow: hidden;
}
#section1 > div span {
    transform: translateY(200px);    
    display: inline-block;
}
#section1 > div .tx {
    display: inline-block;
}
#section1 > div .tx strong {
    display: block;
    width: 400px;
}
#section1 > div span strong {
    font-size: 4.2vw;
    line-height: 1;
    display: inline-block;
    padding-left: 2vw;
    font-family: 'CanvasLight';     
    transform:rotate(5deg);
}
#section1 > div:nth-child(1){
    font-weight: 100; 
    text-transform: uppercase;
}
#section1 > div:nth-child(2){
    font-family: 'Monoton', cursive;
}
#section1 > div:nth-child(3){
    font-weight: 800;
    letter-spacing: -1vw;
}


/* #section2 */
#section2 {
    padding: 30vh 3vw;
}
#section2 h2 {
    font-size: 16vw;
    line-height: 15vw;
    font-family: "Poppins";
    font-weight: 100;
    padding-bottom: 3vw;
}
#section2 h2 span {
    font-weight: 100;
    font-family: 'Monoton', cursive;
    font-family: "Poppins";
}
#section2 .container{
    width: 100%;
    height: 20vw;
}
#section2 .container > p {
    width: 31%;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.5vw;
    line-height: 1.6;
    padding-bottom: 15px;
    display: inline-block;
    float: left;
    margin:0 1vw 0 1vw;
}
#section2 .count li {
    font-family: 'CanvasRegular'; 
    font-size: 14.5vw;
    line-height: 15vw;
}
#section2 .count li:nth-child(4){
    position: relative;
}
#section2 .count li .banner{
    position: absolute;
    display:flex;
    font-family: "poppins";
    font-size: 2vw;
    line-height: 1.3;
    width: 90vw;
    height: 2.8vw;
    top: 5.8vw;
    left:0px;
    letter-spacing: 0;
    background:#FFFF00;
    overflow: hidden;
    white-space: nowrap;
}
#section2 .count li .banner > span{
    width: 100%;
    margin-left:.5vw;
    animation: slide_r 10s linear infinite;
}
#section2 .count li .banner > span.ico{
    width: 1vw;
    height: 1vw;
    content: '';
    background:url(../img/banner_arrow.png) no-repeat;
}

@keyframes slide_r { 
    from {transform: translateX(0);}
    to {transform: translateX(-100%);} 
}

/* #section3 */
#section3 {
    padding: 10vh 3vw;
}
#section3 h2 {
    font-size: 16vw;
    line-height: 15vw;
    font-family: "Poppins";
    font-weight: 100;
    padding-bottom: 5vw;
}
#section3 .container{
    width: 100%;
    height: 20vw;
}
#section3 .container > p {
    width: 31%;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.5vw;
    line-height: 1.6;
    padding-bottom: 15px;
    display: inline-block;
    float: left;
    margin:0 1vw 0 1vw;
}
#section3 > ul > li {
    font-family: 'CanvasRegular'; 
    font-size: 14.5vw;
    line-height: 15vw;
}
#section3 > ul > li:nth-child(2){
    position: relative;
}
#section3 > ul > li .banner{
    position: absolute;
    display:flex;
    font-family: "poppins";
    font-size: 2vw;
    line-height: 1.3;
    width: 49vw;
    height: 2.8vw;
    top: 5.8vw;
    left:10vw;
    letter-spacing: 0;
    background:#FFFF00;
    overflow: hidden;
    white-space: nowrap;
}
#section3 > ul > li .banner span{
    width: 100%;
    margin-left:.5vw;
    animation: slide_r 10s linear infinite;
}






